<div class="container">
  <div class="content-wrapper">
    <mat-form-field appearance="fill">
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" placeholder="something"></textarea>
    </mat-form-field>
    <div class="new-post-actions-container">
      <button class="post-button" mat-raised-button>Post</button>
      <mat-form-field class="image-button">
        <ngx-mat-file-input class="image-input" #removableInput placeholder="Upload image" (change)="onFileSelected($event)"></ngx-mat-file-input>
        <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <mat-card class="post-card">
      <mat-card-header>
        <mat-card-title>
          Charan
        </mat-card-title>
      </mat-card-header>
      <img src="assets/sample.jpg" alt="image" mat-card-image>
      <mat-card-content>
        <p>Enjoying it!</p>
      </mat-card-content>
      <mat-card-actions>
        <button class="like-button" mat-icon-button disableRipple="true">
          <mat-icon>favorite_border</mat-icon>
        </button>
        <span>10 liked it</span>
      </mat-card-actions>
      <div class="comments-container">
        <div class="comments">
          <div class="title">
            Comments
          </div>
          <p><b>John:</b> Woow! Loved it</p>
        </div>
        <div class="comment-input">
          <mat-form-field class="comment-form-field">
            <input type="text" matInput placeholder="Add a comment">
          </mat-form-field>
          <button class="comment-button" mat-button> Comment</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
